<div class="banner">
  <header id="homepageID">
    <a href="#" class="logo">Go Verbal</a>
    <div class="toggle">
      <ul>
        <li><a href="#homepageID">Home</a></li>
        <li><a href="#aboutUSPage">About Us</a></li>
        <li><a href="#EventsPage">Events</a></li>
        <li><a href="#FeedBackPage">Testimonials</a></li>
        <li><a href="#ContactUSPage">Contact US</a></li>
      </ul>
    </div>
  </header>

  <img src="/img/bg.jpg">
  <div class="content">
    <h2>Go Verbal</h2>
    <p>Go Verbal is an Indian Interactive Online tutoring platform where people can improve their communication
      skills and group discussion skills by regularly practicing and with the detailed feedback from expertss
    </p>
    <a href="/users/register"><button class="button">Register</button></a>
    <a href="/users/login"><button class="button">Login</button></a>
  </div>

</div>

<section class="about" id="aboutUSPage">
  <div class="contentBx">
    <h2 class="heading">About Us</h2>
    <br><br>
    <p class="text">
      Go Verbal is India’s premier startup with a mission to
      boost the English fluency and communication skills of people.
      Our strong commitment to enhancing the soft skills of people is centered on the belief that
      self-confidence,
      transparent communication, and meaningful relationships will be
      cornerstone characteristics of future leaders, entrepreneurs, and
      luminary personalities. For this, we have created a knowledgeful
      and interactive platform for people to practice public
      speaking, communication, and leadership .
      We firmly believe that everyone have the potential to
      exchange knowledge and ideas that can meaningfully build trust
      and make a sustainable difference in the future worldwide.
    </p>
  </div>
  <div class="imgBx"></div>
</section>

<section class="services" id="EventsPage">
  <h2 class="heading">Our Services</h2>
  <p class="text">
    GO VERBAL provides you the opportunity to engage in activities like Group Discussion, Debate Sessions and
    Conversation with people around the globe. So polish your speaking skills and start your first debate today!
  </p>

  <div class="container">
    <div class="serviceBx">
      <div>
        <img src="/img/icon1.png">
        <h2>Debate</h2>
      </div>
    </div>
    <div class="serviceBx">
      <div>
        <img src="/img/icon2.png">
        <h2>Group Discussion</h2>
      </div>
    </div>
    <div class="serviceBx">
      <div>
        <img src="/img/icon3.png">
        <h2>Essay</h2>
      </div>
    </div>
  </div>
</section>


<section class="technology" id="ExistPage">
  <div class="contentBx">
    <h2 class="heading">Why we exist ?</h2>
    <p class="text">From abroad studies to job interviews, from giving meeting to talking confidently, from
      introducing yourself to every other possible thing, one needs to have good communication skills. To help
      people enhance their speaking skills and practice it, GO VERBAL is a perfect platform. So if you are a
      noob in English looking for people like you to practice English, or you are proficient in English and
      want to help others … .<br> Join Go Verbal Community now!!!</p>
  </div>
  <div class="imgBx">
    <img src="/img/tech.png">
  </div>
</section>

<section class="testimonials" id="FeedBackPage">
  <h2 class="heading">What Our Participants says</h2>
  <div class="container">
    <div class="contentBx">
      <div>
        <p>This platform gave a girl from a small town the opportunity to travel across the country , meet
          people from different cultures and backgrounds and learn to express myself without hesitation .
          I use the research , analysis and communication skills i learned in debate in my professional
          carrer everyday . Without my time on high school and college debate teams , I would not be who I
          am today . </p>
        <br>
        <h3>Divya Taneja (Btech Graduate)</h3>
      </div>
    </div>

    <div class="contentBx">
      <div>
        <p>Debate taught me how to do research: how to find and digest information quickly and efficiently.
          It taught me how to synthesize arguments. And it taught me that there are often more than two
          sides to many issues. It also taught me the importance of specificity–often we disagree with one
          another because we define our terms differently. Setting the terms of debate/discussion is
          critical to having a constructive discussion.
        </p><br>
        <h3>Naveen Jain(12th C.B.S.E)</h3>
      </div>
    </div>

    <div class="contentBx">
      <div>
        <p>I am really glad that I grabbed the opportunity to be a part of these GD sessions. I always used
          to google or youtube about how to perform in an interview or group discussion but it did no good
          until I got personally evaluated.Everyone were given feedback in an elaborate way without being
          rushed to another person. I totally loved the way how pooja mam made us all comfortable and also
          gave her Personal suggestions.</p><br>
        <h3>Rakesh Krishna </h3>
      </div>
    </div>

    <div class="contentBx">
      <div>
        <p>I want to express my sincere gratitude for all the efforts you have put during the sessions. I
          really appreciate the way in which you helped all of us and made us realise that we have that
          capabilities in us. I also want to thank you for encouraging us to participate in the class and
          gently telling us our mistakes.</p><br>
        <h3>Sajeetha Sulfi Mohd.(7th C.B.S.E)</h3>
      </div>
    </div>


  </div>
</section>

<section class="contact" id="ContactUSPage">
  <div class="contentBx">
    <h2 class="heading">Drop us a line</h2>
    <div class="form">
      <form onSubmit="return validatephone() ">
        <div class="inputBx">
          <input type="text" name="fullname" id="fname" placeholder="Full Name" maxlength="30" required>
        </div>
        <div class="inputBx">
          <input type="email" name="emailadd" placeholder="Email Address" maxlength="30" required>
        </div>

        <div class="inputBx">
          <input type="text" name="mobno" id="phonenu" placeholder="Mobile No." required>
        </div>

        <div class="inputBx">
          <textarea placeholder="Write your message here" maxlength="250"></textarea>
        </div>

        <div class="inputBx">
          <input type="submit" name="abc" value="send">
        </div>
      </form>
    </div>
  </div>
  <div class="imgBx"></div>
</section>

<section class="footer">
  <p class="text">Design and Developed by &#9829; </p>
</section>